@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
input[type="checkbox"]:checked {
  background: #fc8181;
  /* border-color: #fc8181 ;  */
  appearance: none;
  border-radius: 3px;
  position: relative;
}
input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 5px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
@layer utilities {
  .placeholder-white::placeholder {
    color: white; /* Màu xám */
  }
}
